@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>*Customer Home Page - IF customer Exists</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Bill)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Bill)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.MonthlyAddOn)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MonthlyAddOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
